In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import IsolationForest

In [2]:
#pip install scikit-learn

In [3]:
D1 = pd.read_csv('DATOSCLIENTE1.csv')
D2 = pd.read_csv( 'DATOSCLIENTE2.csv')
D3 = pd.read_csv( 'DATOSCLIENTE3.csv')
D4 = pd.read_csv( 'DATOSCLIENTE4.csv')
D5 = pd.read_csv( 'DATOSCLIENTE5.csv')
D6= pd.read_csv( 'DATOSCLIENTE6.csv')
D7= pd.read_csv( 'DATOSCLIENTE7.csv')
D8= pd.read_csv( 'DATOSCLIENTE8.csv')
D9= pd.read_csv( 'DATOSCLIENTE9.csv')
D10= pd.read_csv( 'DATOSCLIENTE10.csv')
D11= pd.read_csv( 'DATOSCLIENTE11.csv')
D12= pd.read_csv( 'DATOSCLIENTE12.csv')
D13= pd.read_csv( 'DATOSCLIENTE13.csv')
D14= pd.read_csv( 'DATOSCLIENTE14.csv')
D15= pd.read_csv( 'DATOSCLIENTE15.csv')
D16= pd.read_csv( 'DATOSCLIENTE16.csv')
D17= pd.read_csv( 'DATOSCLIENTE17.csv')
D18= pd.read_csv( 'DATOSCLIENTE18.csv')
D19= pd.read_csv( 'DATOSCLIENTE19.csv')
D20= pd.read_csv( 'DATOSCLIENTE20.csv')
D21= pd.read_csv( 'DATOSCLIENTE21.csv')
D22= pd.read_csv( 'DATOSCLIENTE22.csv')
D23= pd.read_csv( 'DATOSCLIENTE23.csv')
D24= pd.read_csv( 'DATOSCLIENTE24.csv')
D25= pd.read_csv( 'DATOSCLIENTE25.csv')
D26= pd.read_csv( 'DATOSCLIENTE26.csv')
D27= pd.read_csv( 'DATOSCLIENTE27.csv')
D28= pd.read_csv( 'DATOSCLIENTE28.csv')
D29= pd.read_csv( 'DATOSCLIENTE29.csv')
D30= pd.read_csv( 'DATOSCLIENTE30.csv')

In [16]:
D1['fuente']= 'DATOSCLIENTE1.csv'
D2['fuente']= 'DATOSCLIENTE2.csv'
D3['fuente']= 'DATOSCLIENTE3.csv'
D4['fuente']= 'DATOSCLIENTE4.csv'
D5['fuente']= 'DATOSCLIENTE5.csv'
D6['fuente']= 'DATOSCLIENTE6.csv'
D7['fuente']= 'DATOSCLIENTE7.csv'
D8['fuente']= 'DATOSCLIENTE8.csv'
D9['fuente']= 'DATOSCLIENTE9.csv'
D10['fuente']= 'DATOSCLIENTE10.csv'
D11['fuente']= 'DATOSCLIENTE11.csv'
D12['fuente']= 'DATOSCLIENTE12.csv'
D13['fuente']= 'DATOSCLIENTE13.csv'
D14['fuente']= 'DATOSCLIENTE14.csv'
D15['fuente']= 'DATOSCLIENTE15.csv'
D16['fuente']= 'DATOSCLIENTE16.csv'
D17['fuente']= 'DATOSCLIENTE17.csv'
D18['fuente']= 'DATOSCLIENTE18.csv'
D19['fuente']= 'DATOSCLIENTE19.csv'
D20['fuente']= 'DATOSCLIENTE20.csv'
D21['fuente']= 'DATOSCLIENTE21.csv'
D22['fuente']= 'DATOSCLIENTE22.csv'
D23['fuente']= 'DATOSCLIENTE23.csv'
D24['fuente']= 'DATOSCLIENTE24.csv'
D25['fuente']= 'DATOSCLIENTE25.csv'
D26['fuente']= 'DATOSCLIENTE26.csv'
D27['fuente']= 'DATOSCLIENTE27.csv'
D28['fuente']= 'DATOSCLIENTE28.csv'
D29['fuente']= 'DATOSCLIENTE29.csv'
D30['fuente']= 'DATOSCLIENTE30.csv'

In [17]:
SB = pd.concat([D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,D16,D17,D18,D19,D20,D21,D22,D23,D24,D25,D26,D27,D28,D29,D30])

In [ ]:
SB.loc[SB.Active_energy<0, 'Active_energy']=0
SB.loc[SB.Reactive_energy<0, 'Reactive_energy']=0
SB.loc[SB.Voltaje_FA<0, 'Voltaje_FA']=0
SB.loc[SB.Voltaje_FC<0, 'Voltaje_FC']=0

In [18]:
SB

,Fecha,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC,fuente
0,2021-01-01 00:00:00,0.357841,0.282788,455.139171,510.561002,DATOSCLIENTE1.csv
1,2021-01-01 01:00:00,0.372264,0.431377,469.978787,469.917178,DATOSCLIENTE1.csv
2,2021-01-01 02:00:00,1.044687,0.338626,468.721120,546.949147,DATOSCLIENTE1.csv
3,2021-01-01 03:00:00,0.566425,0.495791,452.329255,444.122989,DATOSCLIENTE1.csv
4,2021-01-01 04:00:00,1.080556,0.472018,513.477596,535.463719,DATOSCLIENTE1.csv
...,...,...,...,...,...,...
11410,2022-04-21 10:00:00,0.960105,0.473234,1273.150602,1027.084539,DATOSCLIENTE30.csv
11411,2022-04-21 11:00:00,0.624300,0.699936,1063.524968,1205.829819,DATOSCLIENTE30.csv
11412,2022-04-21 12:00:00,0.985633,0.123560,1207.284283,1127.893714,DATOSCLIENTE30.csv
11413,2022-04-21 13:00:00,0.710436,0.399262,1205.012971,1090.835898,DATOSCLIENTE30.csv
11414,2022-04-21 14:00:00,1.169279,0.013737,1145.134963,1129.472067,DATOSCLIENTE30.csv

In [23]:
SB['Fecha'] = pd.to_datetime(SB['Fecha'])
SB['Year'] = SB['Fecha'].dt.year
SB['Month'] = SB['Fecha'].dt.month

In [32]:
SB_Agrupado = SB.groupby(["fuente", "Year","Month"])[["fuente", "Year","Month","Active_energy","Reactive_energy","Voltaje_FA","Voltaje_FC"]].agg({
    'fuente':'first',
    'Year':'first',
    'Month':'first',
    "Active_energy":'sum',
    "Reactive_energy":'sum',
    "Voltaje_FA":'sum',
    "Voltaje_FC":'sum'
    }
)
SB_Agrupado

                                         fuente  Year  Month  Active_energy  \
fuente            Year Month
DATOSCLIENTE1.csv 2021 1      DATOSCLIENTE1.csv  2021      1    1179.028493
                       2      DATOSCLIENTE1.csv  2021      2    1490.128945
                       3      DATOSCLIENTE1.csv  2021      3    1728.240344
                       4      DATOSCLIENTE1.csv  2021      4    2228.447578
                       5      DATOSCLIENTE1.csv  2021      5    2190.919624
...                                         ...   ...    ...            ...
DATOSCLIENTE9.csv 2022 12     DATOSCLIENTE9.csv  2022     12    1145.982088
                  2023 1      DATOSCLIENTE9.csv  2023      1     174.513827
                       2      DATOSCLIENTE9.csv  2023      2     159.099194
                       3      DATOSCLIENTE9.csv  2023      3     171.987943
                       4      DATOSCLIENTE9.csv  2023      4       0.116714

                              Reactive_energy    Voltaje_FA    Voltaje_FC
fuente            Year Month
DATOSCLIENTE1.csv 2021 1           415.713658  3.706093e+05  3.707132e+05
                       2           231.737781  5.016982e+05  5.034547e+05
                       3           978.845693  8.359615e+05  8.364873e+05
                       4          1304.500199  3.592254e+05  3.587905e+05
                       5          1269.936238  3.706615e+05  3.702465e+05
...                                       ...           ...           ...
DATOSCLIENTE9.csv 2022 12         1222.681333  1.135527e+06  1.132324e+06
                  2023 1           234.626434  1.618204e+06  1.621082e+06
                       2           215.007085  1.463043e+06  1.473291e+06
                       3           239.717023  4.448266e+05  4.568463e+05
                       4             0.423774  1.066966e+03  9.705308e+02

[656 rows x 7 columns]

In [33]:
SB_Agrupado.describe()

,Year,Month,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC
count,656.000000,656.000000,656.000000,656.000000,6.560000e+02,6.560000e+02
mean,2021.535061,5.867378,1039.915642,616.783293,1.003279e+06,1.016226e+06
std,0.645825,3.502989,1068.780299,701.765092,5.097992e+05,4.985636e+05
min,2021.000000,1.000000,0.000000,0.000000,2.083200e+01,3.495794e+02
25%,2021.000000,3.000000,326.825030,119.752483,5.266159e+05,5.399684e+05
50%,2021.000000,5.000000,611.005026,343.751221,1.106712e+06,1.128775e+06
75%,2022.000000,9.000000,1487.656658,938.920272,1.451994e+06,1.453097e+06
max,2023.000000,12.000000,5975.622323,3382.717277,2.368473e+06,2.367976e+06

In [77]:
SB_Agrupado = SB_Agrupado[~((SB_Agrupado['Year']==2023) & (SB_Agrupado['Month']==4))]

In [78]:
SB_Agrupado=SB_Agrupado.reset_index(drop=True)

In [79]:
def identify_outliers(group, threshold=3):
    mean = group['Active_energy'].mean()
    std_dev = group['Active_energy'].std()
    group['Outlier_Active_energy'] = group['Active_energy'].apply(lambda x: 1 if np.abs((x - mean) / std_dev) > threshold else 0)
    
    mean = group['Reactive_energy'].mean()
    std_dev = group['Reactive_energy'].std()
    group['Outlier_Reactive_energy'] = group['Reactive_energy'].apply(lambda x: 1 if np.abs((x - mean) / std_dev) > threshold else 0)
    
    mean = group['Voltaje_FA'].mean()
    std_dev = group['Voltaje_FA'].std()
    group['Outlier_Voltaje_FA'] = group['Voltaje_FA'].apply(lambda x: 1 if np.abs((x - mean) / std_dev) > threshold else 0)
    
    mean = group['Voltaje_FC'].mean()
    std_dev = group['Voltaje_FC'].std()
    group['Outlier_Voltaje_FC'] = group['Voltaje_FC'].apply(lambda x: 1 if np.abs((x - mean) / std_dev) > threshold else 0)
    
    return group

# Apply the function to each group
outlier_df = SB_Agrupado.groupby('fuente').apply(identify_outliers)

In [98]:
outlier_df[outlier_df['fuente']=='DATOSCLIENTE8.csv']

,fuente,Year,Month,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC,Outlier_Active_energy,Outlier_Reactive_energy,Outlier_Voltaje_FA,Outlier_Voltaje_FC,Anomalia
592,DATOSCLIENTE8.csv,2021,1,914.188569,351.672457,1.373370e+06,1.379992e+06,0,0,0,0,0
593,DATOSCLIENTE8.csv,2021,2,798.733123,319.710022,8.700006e+05,8.710914e+05,0,0,0,0,0
594,DATOSCLIENTE8.csv,2021,3,876.988870,345.921351,2.043917e+06,2.054586e+06,0,0,0,0,0
595,DATOSCLIENTE8.csv,2021,4,875.006156,346.299039,7.118835e+05,7.216255e+05,0,0,0,0,0
596,DATOSCLIENTE8.csv,2021,5,910.149420,358.665676,8.216620e+05,8.205691e+05,0,0,0,0,0
597,DATOSCLIENTE8.csv,2021,6,866.538393,328.176265,5.185902e+05,5.210919e+05,0,0,0,0,0
598,DATOSCLIENTE8.csv,2021,7,875.724060,358.235814,2.138673e+06,2.146148e+06,0,0,0,0,0
599,DATOSCLIENTE8.csv,2021,8,933.565958,379.495463,1.134020e+06,1.126899e+06,0,0,0,0,0
600,DATOSCLIENTE8.csv,2021,9,2151.397160,934.207293,2.811346e+05,2.856162e+05,0,0,0,0,0
601,DATOSCLIENTE8.csv,2021,10,1495.459265,442.317292,9.810434e+05,9.757860e+05,0,0,0,0,0
602,DATOSCLIENTE8.csv,2021,11,1840.918564,939.747369,1.300968e+06,1.311561e+06,0,0,0,0,0
603,DATOSCLIENTE8.csv,2021,12,1993.217102,1053.943899,1.398198e+06,1.391625e+06,0,0,0,0,0
604,DATOSCLIENTE8.csv,2022,1,2308.062404,1186.096855,2.368473e+06,2.367976e+06,0,0,0,0,0
605,DATOSCLIENTE8.csv,2022,2,1012.371424,356.580346,2.613185e+05,2.706203e+05,0,0,0,0,0
606,DATOSCLIENTE8.csv,2022,3,1083.192991,255.820829,6.424790e+05,6.390048e+05,0,0,0,0,0
607,DATOSCLIENTE8.csv,2022,4,1448.662560,738.626121,3.365905e+05,3.495067e+05,0,0,0,0,0
608,DATOSCLIENTE8.csv,2022,5,1568.879247,361.631026,5.579177e+05,5.509608e+05,0,0,0,0,0
609,DATOSCLIENTE8.csv,2022,6,1220.423908,160.417757,1.520010e+06,1.524457e+06,0,0,0,0,0
610,DATOSCLIENTE8.csv,2022,7,919.406973,350.473112,9.980621e+05,1.004065e+06,0,0,0,0,0
611,DATOSCLIENTE8.csv,2022,8,899.682358,346.360936,1.005239e+06,9.975828e+05,0,0,0,0,0
612,DATOSCLIENTE8.csv,2022,9,866.088925,339.940278,1.802832e+06,1.802863e+06,0,0,0,0,0
613,DATOSCLIENTE8.csv,2022,10,876.178761,347.996277,1.426094e+06,1.438370e+06,0,0,0,0,0
614,DATOSCLIENTE8.csv,2022,11,860.153630,344.657882,1.563554e+06,1.563923e+06,0,0,0,0,0
615,DATOSCLIENTE8.csv,2022,12,888.145609,355.338300,1.306859e+06,1.306382e+06,0,0,0,0,0
616,DATOSCLIENTE8.csv,2023,1,887.941409,345.432184,1.882776e+06,1.878425e+06,0,0,0,0,0
617,DATOSCLIENTE8.csv,2023,2,809.963383,319.016009,1.699872e+06,1.694980e+06,0,0,0,0,0
618,DATOSCLIENTE8.csv,2023,3,903.880985,355.785349,7.020097e+05,7.064042e+05,0,0,0,0,0

In [81]:
outlier_df['Anomalia']= (outlier_df['Outlier_Active_energy']+outlier_df['Outlier_Reactive_energy']+outlier_df['Outlier_Voltaje_FA']+outlier_df['Outlier_Voltaje_FC'])
#outlier_df.loc[outlier_df.Anomalia>0, 'Anomalia']=1

In [82]:
outlier_df

                                  fuente  Year  Month  Active_energy  \
fuente
DATOSCLIENTE1.csv 0    DATOSCLIENTE1.csv  2021      1    1179.028493
                  1    DATOSCLIENTE1.csv  2021      2    1490.128945
                  2    DATOSCLIENTE1.csv  2021      3    1728.240344
                  3    DATOSCLIENTE1.csv  2021      4    2228.447578
                  4    DATOSCLIENTE1.csv  2021      5    2190.919624
...                                  ...   ...    ...            ...
DATOSCLIENTE9.csv 641  DATOSCLIENTE9.csv  2022     11     620.205229
                  642  DATOSCLIENTE9.csv  2022     12    1145.982088
                  643  DATOSCLIENTE9.csv  2023      1     174.513827
                  644  DATOSCLIENTE9.csv  2023      2     159.099194
                  645  DATOSCLIENTE9.csv  2023      3     171.987943

                       Reactive_energy    Voltaje_FA    Voltaje_FC  \
fuente
DATOSCLIENTE1.csv 0         415.713658  3.706093e+05  3.707132e+05
                  1         231.737781  5.016982e+05  5.034547e+05
                  2         978.845693  8.359615e+05  8.364873e+05
                  3        1304.500199  3.592254e+05  3.587905e+05
                  4        1269.936238  3.706615e+05  3.702465e+05
...                                ...           ...           ...
DATOSCLIENTE9.csv 641       744.085217  1.406934e+06  1.418035e+06
                  642      1222.681333  1.135527e+06  1.132324e+06
                  643       234.626434  1.618204e+06  1.621082e+06
                  644       215.007085  1.463043e+06  1.473291e+06
                  645       239.717023  4.448266e+05  4.568463e+05

                       Outlier_Active_energy  Outlier_Reactive_energy  \
fuente
DATOSCLIENTE1.csv 0                        0                        0
                  1                        0                        0
                  2                        0                        0
                  3                        0                        0
                  4                        0                        0
...                                      ...                      ...
DATOSCLIENTE9.csv 641                      0                        0
                  642                      0                        0
                  643                      0                        0
                  644                      0                        0
                  645                      0                        0

                       Outlier_Voltaje_FA  Outlier_Voltaje_FC  Anomalia
fuente
DATOSCLIENTE1.csv 0                     0                   0         0
                  1                     0                   0         0
                  2                     1                   1         2
                  3                     0                   0         0
                  4                     0                   0         0
...                                   ...                 ...       ...
DATOSCLIENTE9.csv 641                   0                   0         0
                  642                   0                   0         0
                  643                   0                   0         0
                  644                   0                   0         0
                  645                   0                   0         0

[646 rows x 12 columns]

In [86]:
outlier_df.columns

Index(['fuente', 'Year', 'Month', 'Active_energy', 'Reactive_energy',
       'Voltaje_FA', 'Voltaje_FC', 'Outlier_Active_energy',
       'Outlier_Reactive_energy', 'Outlier_Voltaje_FA', 'Outlier_Voltaje_FC',
       'Anomalia'],
      dtype='object')

In [83]:
outlier_df=outlier_df.reset_index(drop=True)

In [84]:
outlier_df.groupby('fuente')[['Anomalia']].agg("sum").sort_values(by ='Anomalia', ascending=False)

                    Anomalia
fuente
DATOSCLIENTE11.csv         3
DATOSCLIENTE28.csv         3
DATOSCLIENTE2.csv          3
DATOSCLIENTE1.csv          2
DATOSCLIENTE22.csv         2
DATOSCLIENTE5.csv          2
DATOSCLIENTE4.csv          2
DATOSCLIENTE30.csv         2
DATOSCLIENTE3.csv          2
DATOSCLIENTE29.csv         2
DATOSCLIENTE27.csv         2
DATOSCLIENTE26.csv         2
DATOSCLIENTE25.csv         2
DATOSCLIENTE24.csv         2
DATOSCLIENTE23.csv         2
DATOSCLIENTE21.csv         2
DATOSCLIENTE20.csv         2
DATOSCLIENTE19.csv         2
DATOSCLIENTE18.csv         2
DATOSCLIENTE17.csv         2
DATOSCLIENTE16.csv         2
DATOSCLIENTE15.csv         2
DATOSCLIENTE14.csv         2
DATOSCLIENTE13.csv         2
DATOSCLIENTE12.csv         2
DATOSCLIENTE6.csv          1
DATOSCLIENTE10.csv         0
DATOSCLIENTE7.csv          0
DATOSCLIENTE8.csv          0
DATOSCLIENTE9.csv          0

In [108]:
outlier_df['fuente']=outlier_df['fuente'].str.replace('DATOSCLIENTE','').str.replace('.csv','')
outlier_df

,fuente,Year,Month,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC,Outlier_Active_energy,Outlier_Reactive_energy,Outlier_Voltaje_FA,Outlier_Voltaje_FC,Anomalia
0,1,2021,1,1179.028493,415.713658,3.706093e+05,3.707132e+05,0,0,0,0,0
1,1,2021,2,1490.128945,231.737781,5.016982e+05,5.034547e+05,0,0,0,0,0
2,1,2021,3,1728.240344,978.845693,8.359615e+05,8.364873e+05,0,0,1,1,2
3,1,2021,4,2228.447578,1304.500199,3.592254e+05,3.587905e+05,0,0,0,0,0
4,1,2021,5,2190.919624,1269.936238,3.706615e+05,3.702465e+05,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
641,9,2022,11,620.205229,744.085217,1.406934e+06,1.418035e+06,0,0,0,0,0
642,9,2022,12,1145.982088,1222.681333,1.135527e+06,1.132324e+06,0,0,0,0,0
643,9,2023,1,174.513827,234.626434,1.618204e+06,1.621082e+06,0,0,0,0,0
644,9,2023,2,159.099194,215.007085,1.463043e+06,1.473291e+06,0,0,0,0,0
645,9,2023,3,171.987943,239.717023,4.448266e+05,4.568463e+05,0,0,0,0,0

In [154]:
Anomalias_1 = outlier_df.drop(['Active_energy','Reactive_energy','Voltaje_FA',	'Voltaje_FC',	'Outlier_Active_energy',	'Outlier_Reactive_energy',	'Outlier_Voltaje_FA',	'Outlier_Voltaje_FC'], axis=1)
Anomalias_1.loc[Anomalias_1.Anomalia>0, 'Anomalia']=1
Anomalias_1

    fuente  Year  Month  Anomalia
0        1  2021      1         0
1        1  2021      2         0
2        1  2021      3         1
3        1  2021      4         0
4        1  2021      5         0
..     ...   ...    ...       ...
641      9  2022     11         0
642      9  2022     12         0
643      9  2023      1         0
644      9  2023      2         0
645      9  2023      3         0

[646 rows x 4 columns]

In [101]:
datos = outlier_df.drop([ 'Outlier_Active_energy','Outlier_Reactive_energy', 'Outlier_Voltaje_FA', 'Outlier_Voltaje_FC',
       'Anomalia'], axis=1)
datos

,fuente,Year,Month,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC
0,1,2021,1,1179.028493,415.713658,3.706093e+05,3.707132e+05
1,1,2021,2,1490.128945,231.737781,5.016982e+05,5.034547e+05
2,1,2021,3,1728.240344,978.845693,8.359615e+05,8.364873e+05
3,1,2021,4,2228.447578,1304.500199,3.592254e+05,3.587905e+05
4,1,2021,5,2190.919624,1269.936238,3.706615e+05,3.702465e+05
...,...,...,...,...,...,...,...
641,9,2022,11,620.205229,744.085217,1.406934e+06,1.418035e+06
642,9,2022,12,1145.982088,1222.681333,1.135527e+06,1.132324e+06
643,9,2023,1,174.513827,234.626434,1.618204e+06,1.621082e+06
644,9,2023,2,159.099194,215.007085,1.463043e+06,1.473291e+06
645,9,2023,3,171.987943,239.717023,4.448266e+05,4.568463e+05

In [102]:
# Configurando el Isolation Forest
clf = IsolationForest(n_estimators=100, max_samples='auto', contamination=float(.12), \
                      max_features=1.0, bootstrap=False, n_jobs=-1, random_state=42, verbose=0)

# Entrenar el Isolation Forest
clf.fit(datos)

# Predecir si una observaciÃ³n es una anomalÃ­a. -1 indica anomalÃ­a, 1 indica normal.
preds = clf.predict(datos)

# AÃ±adir las predicciones al DataFrame
datos['anomaly'] = preds

In [103]:
anomalies = datos[datos['anomaly'] == -1]
print(anomalies)

    fuente  Year  Month  Active_energy  Reactive_energy    Voltaje_FA  \
8        1  2021      9    3854.354275      1648.567748  3.582002e+05
9        1  2021     10    4117.316795      1759.419002  3.704292e+05
10       1  2021     11    3923.644271      1679.249685  3.595856e+05
24       1  2023      1     946.243385       491.541213  3.708919e+05
29      10  2021      3    1686.237575       382.149266  1.978678e+06
..     ...   ...    ...            ...              ...           ...
617      8  2023      2     809.963383       319.016009  1.699872e+06
625      9  2021      7     172.674584       239.194833  1.831292e+06
631      9  2022      1     173.689647       239.228191  2.109159e+06
632      9  2022      2     157.994505       211.814933  1.001356e+05
645      9  2023      3     171.987943       239.717023  4.448266e+05

       Voltaje_FC  anomaly
8    3.600851e+05       -1
9    3.705632e+05       -1
10   3.588442e+05       -1
24   3.722965e+05       -1
29   1.976845e+06       -1
..            ...      ...
617  1.694980e+06       -1
625  1.825274e+06       -1
631  2.116245e+06       -1
632  1.019039e+05       -1
645  4.568463e+05       -1

[78 rows x 8 columns]

In [106]:
anomalies[anomalies['fuente']=='10']

,fuente,Year,Month,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC,anomaly
29,10,2021,3,1686.237575,382.149266,1.978678e+06,1.976845e+06,-1
33,10,2021,7,1678.345579,380.225761,2.062532e+06,2.061257e+06,-1
37,10,2021,11,4609.283289,1344.050781,1.231546e+06,1.235760e+06,-1
38,10,2021,12,4713.931666,1333.828055,1.326432e+06,1.324234e+06,-1
39,10,2022,1,4869.015738,1553.154296,2.295159e+06,2.302245e+06,-1
40,10,2022,2,4225.181406,1025.796695,2.186639e+05,2.196366e+05,-1
42,10,2022,4,4093.491426,904.184723,3.202137e+05,3.155761e+05,-1
51,10,2023,1,1678.944661,387.153117,1.804204e+06,1.807082e+06,-1
52,10,2023,2,1524.535106,349.090263,1.631043e+06,1.641291e+06,-1

In [117]:
Anomalias_2 = anomalies.drop(['Active_energy','Reactive_energy','Voltaje_FA',	'Voltaje_FC'], axis=1)

In [155]:
Validacion=Anomalias_1.merge(Anomalias_2,how='outer')
Validacion['anomaly'] = Validacion['anomaly'].fillna(0)
Validacion

    fuente  Year  Month  Anomalia  anomaly
0        1  2021      1         0      0.0
1        1  2021      2         0      0.0
2        1  2021      3         1      0.0
3        1  2021      4         0      0.0
4        1  2021      5         0      0.0
..     ...   ...    ...       ...      ...
641      9  2022     11         0      0.0
642      9  2022     12         0      0.0
643      9  2023      1         0      0.0
644      9  2023      2         0      0.0
645      9  2023      3         0     -1.0

[646 rows x 5 columns]

In [156]:
Validacion['resultado']=Validacion['Anomalia']+Validacion['anomaly']
Validacion.groupby(['fuente','Year', 'Month'])[['Anomalia',	'anomaly','resultado']].agg("sum").sort_values(by ='resultado', ascending=False)
Validacion.head()

  fuente  Year  Month  Anomalia  anomaly  resultado
0      1  2021      1         0      0.0        0.0
1      1  2021      2         0      0.0        0.0
2      1  2021      3         1      0.0        1.0
3      1  2021      4         0      0.0        0.0
4      1  2021      5         0      0.0        0.0

In [158]:
tabla_cruzada = pd.crosstab(Validacion['Anomalia'], Validacion['anomaly'])
print(tabla_cruzada)

anomaly   -1.0   0.0
Anomalia
0           68   550
1           10    18